<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" > <i class="fa-solid fa-house-medical"></i>&nbsp;CARE CLINIC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="btn btn-outline-dark" routerLink="/dashboard" style="color:#D3D3D3; float: left;"> Home </a>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-dark" style="color: #D3D3D3;" data-bs-toggle="modal" data-bs-target="#addPatient" type="submit">Add Patient</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <h2 style="text-align: center;">Patient Details</h2>
  <br>
    <table class="table table-bordered" style="text-align: center;">
    <thead class="heading">
      <tr class="bg-success" style="color: white;" >
        <th scope="col">Patient ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Diagnosis</th>
        <th scope="col">Treatment</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patientList" class="table-success">
        <td>{{patient.id}}</td>
        <td>{{patient.name}}</td>
        <td>{{patient.email}}</td>
        <td>{{patient.diagnosis}}</td>
        <td>{{patient.treatment}}</td>
        <td>
            <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#editPatient" (click)="editPatient(patient)"><i class="fa-solid fa-pen"></i></button>
            <button type="button" class="btn btn-danger" (click)="deletePatient(patient)"><i class="fa-solid fa-trash"></i></button>
        </td>
    </tr>
    </tbody>
  </table>

<!-- Add patient modal -->
<div class="modal fade" id="addPatient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add New Patient</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
  

        <form [formGroup]="patientDetail">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp"> 
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
              </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Diagnosis</label>
              <input type="text" formControlName="diagnosis" class="form-control" id="diagnosis">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Treatment</label>
                <input type="text" formControlName="treatment" class="form-control" id="treatment">
              </div>
          </form>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addPatient()">Add Patient</button>
          </div>

    </div>
    
  </div>
</div>
</div>

<!-- Edit patient modal -->
<div class="modal fade" id="editPatient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Edit Patient Details</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="patientDetail">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Diagnosis</label>
            <input type="text" formControlName="diagnosis" class="form-control" id="diagnosis">
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Treatment</label>
              <input type="text" formControlName="treatment" class="form-control" id="treatment">
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-outline-success" (click)="updatePatient()">Update Patient Details</button>
          </div>
    </div>
  </div>
</div>
</div>


