<!doctype html>
<html lang="en" xmlns:th="https://thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <title>View Page</title>
  </head>
  <body class="medicine">
   <!-- navbar -->
   <nav class="navbar navbar-expand-lg navbar-primary bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/index}">View Medicines</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" th:href="@{/index}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="adminlogin">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div th:if=${session.msg}>
    <div class="alert alert-success" role="alert" th:text="${session.msg}">
	</div>
	<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
</div>

<div class="container p-5">
	<table class="table table striped">
		<thead class="bg-primary text-white">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Medicine Name</th>
				<th scope="col">Price</th>
				<th scope="col">Quantity</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="m: ${med}">
				<th th:text="${m.mid}"></th>
				<td th:text="${m.mname}"></td>
				<td th:text="${m.price}"></td>
				<td th:text="${m.qty}"></td>
				<td>
				<a class="btn btn-sm btn-primary" th:href="@{/updateMedicine/{mid}(mid=${m.mid})}">Edit</a>
				<a class="btn btn-sm btn-danger" th:href="@{/deleteMed/{mid}(mid=${m.mid})}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
<a href="addMedicine"><i class="fas fa-backward">&nbsp;Return to Add Medicine</i></a>
</div>
    
  </body>
</html>