<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><b>CAREFORYOU CLINIC</b></a>
          <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="btn btn-primary"routerLink="/dashboard">Dashboard</a>
          </div>!-->
          <button type="button" class="btn btn-outline-secondary"routerLink="/dashboard"> Dashboard</button>
        </div>
    </nav>
</div>
<h2 style="color: black;">FEEDBACK</h2>
<p style="color: red;">"Your feedback is valuable to us." Please do rate our service based on the details provided below.</p>
<br>

          <form class="fb">
            <div class="form-group">
                Gender :  
        <br>  
        <input type="radio" name="male"/> Male <br>  
        <input type="radio" name="female"/> Female <br>  
        <input type="radio" name="other"/> Other  
              </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Rate our Service: On a scale of 1-5</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option selected>--Select--</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">How can we improve our service?</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
            <br>
            <input type="button" value="Submit"/>  
          </form>
        
    

          