.myDiv {
    border: 5px outset black;
    background-color: lightblue;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }

  .myDiv1 {
    border: 5px outset black;
    background-color: lightblue;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }

.myDiv2 {
    border: 5px outset black;
    background-color: lightblue;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }

.myDiv3 {
    border: 5px outset black;
    background-color: lightblue;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }

  .myDiv4 {
    border: 5px outset black;
    background-color: lightblue;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }