<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><b>CAREFORYOU CLINIC</b></a>
        </div>
        <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>!-->
          <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="btn btn-primary"routerLink="/dashboard">Dashboard</a>
          </div>!-->
          <button type="button" class="btn btn-outline-secondary"routerLink="/dashboard"> Dashboard</button>
        </nav>
</div>



<div class="myDiv">
    <h2>CARDIAC CARE</h2>
    <p>The department of Cardiac Sciences is one of the premier flagship departments of the Hospital. Staffed with well trained cardiologists and cardiac surgeons, our vastly experienced team endeavors to alleviate all your cardiac conditions, with care and compassion. We have a variety of diagnostic procedures that helps in disease identification and treatment protocols. We are committed in delivering the best of care with state of the art facilities and well trained staff attuned to your various needs.
      Our department of cardiac sciences offers minimally invasive cardiac surgery, for both children and adults, with cutting edge technology for faster recovery and reduced pain.</p>
  <br><br>
  </div>
  
  <div class="myDiv1">
    <h2>NEUROLOGY</h2>
    <p>Neurology specialty services offer treatment for diseases of the nervous system including disorders of the brain, spinal cord, peripheral nerves, neuro-muscular junction and muscle. Neurology illnesses, once considered to be one of the exotic diagnosis without effective treatment is now within the reach of effective treatment, if diagnosed early.Many facilities are available to improve quality of life even though not fully curable.
      Our Neurology Department around 25 years since its inception is one of the major neurological centres in the state. The department boasts ofstate of the art facilities for comprehensive evaluation of neurological problems and its management.</p>
  <br><br>
  </div>
  
  <div class="myDiv2">
    <h2>ENT</h2>
    <p>We perform endoscopic surgery, including micro ear surgery, micro laryngeal surgery where we offer high-quality patient care.
  
      We deal with all aspects of ENT care from minor procedures to major surgical interventions too.
      We treat all ENT, vertigo and voice problems. This includes endoscopic examinations.
      Microscopic ear surgeries, from ear drum repair to cochlear implants.
      Endoscopic nasal and sinus surgeries.
      Endoscopic skull base surgeries.
      Transnasal surgery for brain tumours such as pituitary adenomas, chordomas, meningiomas.
      All throat including tonsillitis and adenoid. Sugar check for oral malignancies.
      Microscopic laryngeal surgery for voice disorders.</p>
  <br><br>
  </div>
  
  <div class="myDiv3">
    <h2>ONCOLOGY-CANCER CARE</h2>
    <p>The Department of Medical Oncology offer cancer treatment provided by a team of qualified medical oncologists experienced in diagnosis, treatment planning and follow-up with chemotherapy, hormonal, biological and targeted therapy.
  
      Our clinic strives to offer world-class cancer care services using the latest technology and expertise of its medical oncologists. We provide a complete range of cancer care treatments including medical oncology, surgical oncology, and radiation treatments.</p>
  <br><br>
  </div>
  
  <div class="myDiv4">
    <h2>PAEDIATRICS</h2>
    <p>The department of pediatric care comprises of a highly experienced team of pediatricians that offer the best out-patient, in-patient and intensive care services. The department offers expert intensivists and trained nurses in respective sub-specialties to ensure compassionate care and speedy recovery of the patient. Complete care, safety and comfort of the patient are well taken care of. The Doctors provide expert counseling and consultations to the patients/child's family members and are also skilled in treating a wide variety of pediatric diseases and illnesses related to lungs, skin, blood and kidney. 
      The team focuses on complete care and focuses on the special needs of the newborns. 
      The pediatricians also make sure to provide superior education to the patient attendants and help them understand the problem well. 
      The department of pediatrics focuses on providing tender care to the children and treat them with great compassion. There is also a small play area provided for pediatric patients to keep them engaged.</p>
  <br><br>
  </div>
