


<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" > <i class="fa-solid fa-house-medical"></i>&nbsp;CARE CLINIC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="btn btn-outline-dark" routerLink="/view" style="color:#D3D3D3; float: left;"> View Patient </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-dark" routerLink="/department" style="color:#D3D3D3; float: left;"> Departments </a>
          </li>
         <!--li class="nav-item">
            <a class="btn btn-outline-dark" routerLink="/feedback" style="color:#D3D3D3; float: left;" > Feedback </a>
          </li>!-->
        </ul>
      </div>
    </div>
  </nav>
  <img src="../../../assets/img.jpeg">
   
      
      
      <div>
      <br>
      <style>
        h3{text-align: center;}
        </style>
        <h3 style="color: black;">About Us.</h3>
        <br><br>
        
       <!-- <div class="card" style="width: 23rem; height: 300px;">
          <div class="card-body">
            <h5 class="card-title">EXPERTISE</h5>
            <p class="card-text">CareForYou Clinic has established its name as an integrated healthcare provider.We are experts in the diagnosis and treatment of various diseases across various specialties, ranging from simple to complex clinical issues.
              CareForYou Clinic provides healthcare-at-home services to patients who are unable to visit hospitals due to various reasons. 
             </p>
          </div>
        </div>-->

        <div class="row">
          <div class="col-sm-4">
            <div class="card text-white bg-secondary" style="font-weight: bold;">
              <div class="card-header">EXPERTISE</div>
              <div class="card-body">
                
                <p class="card-text">CareForYou Clinic has established its name as an integrated healthcare provider.We are experts in the diagnosis and treatment of various diseases across various specialties, ranging from simple to complex clinical issues.
                  CareForYou Clinic provides healthcare-at-home services to patients who are unable to visit hospitals due to various reasons. 
                 </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-white bg-secondary" style="font-weight: bold;">
              <div class="card-header">INFRASTRUCTURE</div>
              <div class="card-body">
                <p style="color: white;">Technologically advanced infrastructure is an integrated part of healthcare settings. Ample parking space, a large cafeteria, and the spacious waiting area are available for visitors.
                  To provide the patient with all facilities under one roof, the hospital has created a quality infrastructure for catering out-patients, in-patients, and emergency patients. 
                  We have procured and sourced and made available the best equipment and diagnostic in the hospital and thus have made the availability of all tests and treatment available under one roof.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-white bg-secondary" style="font-weight: bold;">
              <div class="card-header">HEALTHCARE STAFF</div>
              <div class="card-body">
                
            <p style="color: white;">Healthcare staff is the pillar on which the excellent healthcare services stands. 
              CareForYou Clinic engages the best brains of the healthcare industry in respective departments to deliver the finest services to patients. 
              Most of the doctors are trained abroad and have decades of experience. Medical staff at the hospital is passionate about providing comfortable experience to patients.</p>
              </div>
            </div>
        </div>


        </div>